@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2D2E47;
  --foreground: #171717;
}
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/MountainsofChristmas-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}
.background-christ{
  background-image: url('/images/background_2025.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}


/* Make visible again when focused (useful for skip links) */
.main-title:focus,
.main-title:active {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.main-background{
    background-image: url('/images/background_2025.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}